<md-content layout="row" class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom flex="55">
        <md-tab label="My Queries">
            <md-button class="md-primary" ng-click="createQuery($event)">Create Query</md-button>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="query in currentUserQueries">
                    <div class="md-list-item-text" layout="column">
                        <md-input-container>
                            <textarea disabled
                                      style="color:black">{{query.question || "No question description was inserted"}}</textarea>
                        </md-input-container>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-accent" ng-click="remove(query)">Remove</md-button>
                            <md-button ng-click="openDetails($event, query)">Details</md-button>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <md-content>
                <h3 class="md-body-2">Number of queries sent: {{currentUserQueries.length}}</h3>
            </md-content>
        </md-tab>
        <md-tab label="Other Users Queries">
            <div ng-repeat="query in otherUserQueries" ng-show="showUserAnswer(query)"
                 class="md-whiteframe-1dp md-body-2">
                <div layout="column">
                    <h3>{{query.question}}</h3>
                    <div layout="row" layout-align="end center">
                        <div ng-if="hasUserAnswered(query)" layout="column" flex>
                            <div layout="row">
                                <h3>My Answer:&nbsp;</h3>
                                <h3 style="font-weight: normal">{{userAnswer(query).answer}}</h3>
                            </div>
                            <div layout="row">&nbsp;&nbsp;&nbsp;
                                <feedback-stars is-disabled="true" answer="userAnswer(query)"></feedback-stars>
                            </div>
                        </div>
                        <div layout-align="center end" flex="15">
                            <md-button class="md-primary"
                                       ng-click="openGraph($event, query.selectedObjects, query)">Respond
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
            <md-content>
                <h3 class="md-body-2">Number of queries sent by other users: {{otherUserQueries.length}}</h3>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
<div class="md-title">{{userDepartment()}} Department</div>

