<project></project>
<md-content layout="row" class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="User Queries">
            <md-list>
                <md-toolbar class="md-theme-light">
                    <h3 class="md-toolbar-tools">
                        <span> Number of queries sent: {{currentUserQueries.length}}</span>
                    </h3>
                </md-toolbar>
                <md-list-item class="md-3-line" ng-repeat="query in currentUserQueries">
                    <div class="md-list-item-text" layout="row">
                        <md-button class="md-raised md-warn" ng-click="remove(query)">Remove</md-button>
                        <h3>{{query.question || "No question description was inserted"}}</h3>
                        <md-button href="/queries/{{query._id}}">link</md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab>
        <md-tab label="Other Users Queries">
            <md-list>
                <md-toolbar class="md-theme-light">
                    <h3 class="md-toolbar-tools">
                        <span> Number of queries sent by other users: {{otherUserQueries.length}}</span>
                    </h3>
                </md-toolbar>
                <md-list-item class="md-3-line" ng-repeat="query in otherUserQueries">
                    <div class="md-list-item-text" layout="row">
                        <h3>{{query.question || "No question description was inserted"}}</h3>
                        <md-button href="/queries/{{query._id}}">link</md-button>
                        <!--<md-button  ng-click="showAnswer($event, query)" class="md-raised md-primary">Answer</md-button>-->
                        <md-input-container>
                            <label>Answer:{{userAnswer(query)}}</label>
                            <input ng-model="answer">
                        </md-input-container>
                        <md-button ng-click="saveQuery(query, answer)" class="md-raised md-primary">Save</md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-tab>
    </md-tabs>
</md-content>