Query: {{query.question}}
<div layout="row">
    <md-input-container flex>
        <label>Rephrase Question?</label>
        <input ng-model="newQuestion" md-detect-hidden="true" md-no-autogrow="true">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="rephrase()">OK</md-button>
</div>

<graph ready-cb="putSelection(chart)"></graph>
Number Of Required Responders: {{query.responders}}
<ul>
    <div ng-show="hasAnswers()">Answers:</div>
    <li ng-repeat="answer in query.answers" layout="column">
        <div layout="row">
            <div>{{ answer.answer }}</div>
            <feedback-stars answer="answer" ng-show="isUserQuery(query.owner)"></feedback-stars>
        </div>
    </li>
</ul>
