<!--Here you will see and change the details of the query:-->

<input ng-model="query.range">
<input ng-model="query.question">
<label>Is public</label>
<input type="checkbox" ng-model="query.public">
<br>

Query created on {{formatDate(query.createDate)}}
<ul>
Answers:
<li ng-repeat="answer in query.answers" layout="column">
    <div layout="row">
    <div>{{ answer.answer }}</div> Answer answered on {{formatDate(answer.answerDate)}}
        <feedback-stars answer="answer" ng-show="isUserQuery(query.owner)"></feedback-stars>
    </div>
</li>
</ul>


<ul>
  Users:
  <li ng-repeat="user in users">
    <div>{{ user.emails[0].address }}</div>
  </li>
</ul>